<div class="all-jobs-main-div">
  {{#each allJobs}}
  <div class="job-div" onclick="location.href='/jobs/{{id}}?location={{../location}}';" style="cursor: pointer;">
    <p>
      <strong>{{{title}}}</strong>
    </p>
    <span>Company: {{{company.display_name}}}</span><br>
    <span>Location: {{{location.display_name}}}</span>
    <form action="/jobs/liked" method="POST">
      <button type="submit">
        <ion-icon class="star" name="star"></ion-icon>
      </button>
    </form>



    <p>{{{description}}}</p>
  </div>
  {{/each}}
</div>