<div class="form-all-jobs">
    <form action="/jobs/search" method="GET">
        <input class="input-fields-all-jobs" name="jobTitle" placeholder="Job Title" type="text" />
        <input class="input-fields-all-jobs" name="location" placeholder="Location" type="text" />
        <button class="btn-all-jobs" type="submit">
            <div class="search-icon">
                <ion-icon class="search-icon" name="search"></ion-icon>
            </div>
        </button>
    </form>
</div>

<div class="all-jobs-main-div">
    {{#each jobs}}
    <div class="job-div" onclick="location.href='/created/{{id}}';" style="cursor: pointer;">
        {{!-- <button class="star-btn" type="submit">
            <ion-icon class="star {{style}}" name="star"></ion-icon>
        </button> --}}
        <p class="job-title">
            <strong>{{title}}</strong>
        </p>
        <p>{{contractType}}</p>
        <p><strong>{{company}}</strong></p>
        <p>{{created_at}}</p>

    </div>
    {{/each}}
</div>