<p>{{jobData.title}}</p>
<p>{{jobData.created}}</p>
<p>{{jobData.company.displayName}}</p>
<p>{{location2}}</p>
<p>{{jobData.contract_time}}</p>
<p>{{jobData.description}}</p>

<a href="{{jobData.redirect_url}}"><button>Apply</button></a>

{{!-- <div>
    {{location}}
</div>
<div>
    {{jobData.id}}
</div> --}}
{{!-- {{#if !user}} --}}


<p>MAP</p>